
.cm-s-default pre span.cm-bracket {color: #B409AD;}
.cm-s-default pre span.cm-string {color: #B4B406;}
.cm-s-default pre span.cm-keyword {color: #BBBBFA;}
.cm-s-default pre span.cm-variable {color: #94A594;}
